html, body {
    height: 100%;
    width: 100%;
}
h1{
    text-align: center;
    padding-top: 5px;
}

.grid-container{
    height: 500px;
    width: 500px;
    margin: auto;
    background-color: aqua;
}

.grid-row{
    width: 100%;
    display: flex;
}

.initialStyle {
    background-color: pink;
    flex: 1;
}

.testColor {
    background-color: black;
}

.button-container{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}